<section class="section">
  <div class="container">

    <p id="notice"><%= notice %></p>

    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Meals</h1>
      </div>
      <div class="column">
        <%= link_to 'Add new', new_meal_path, class: 'button is-success is-pulled-right' %>
      </div>
    </div>

    <ul class="list">
      <% Meal.all.each do |meal| %>
        <li class="list-item">
          <div class="list-content">
            <h2><%= meal.title %></h2>
            <img src="http://baconmockup.com/250/200" alt="" />
            <p><%= meal.description %></p>
            <br>
            <div class="columns">
              <div class="column is-half">
                <p><%= meal.date.strftime("%d/%m/%y: %H:%M:%S") %></p>
              </div>
              <div class="column">
                <p class="is-pulled-right">1 FUD</p>
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">
                <%= link_to 'Show', meal %>
              </div>
              <div class="column">
                <p class="is-pulled-right"><%= meal.max_people %> <i class="fa fa-user" aria-hidden="true"></i></p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
