<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <figure class="image is-256x256">
          <%= image_tag @meal.image.url %>
        </figure>
      </div>

      <div class="column">
        <strong>
          <%= @meal.title %>
        </strong>
        <p><%= @meal.description %></p>
      </div>

      <% if @meal.owner.id != current_user.id %>
        <% if @meal.participants.include?(current_user) %>
          <div class="column is-3">
            <a class="button is-success toggle-modal" data-target="#confirm-meal-modal">Confirm meal</a>
          </div>
        </div>
        <% else %>
          <div class="column is-3">
            <a class="button is-success toggle-modal" data-target="#join-meal-modal">Join meal</a>
          </div>
        <% end %>
      <% else %>
        <div class="column is-3">
          <a class="button is-success toggle-modal" data-target="#close-meal-modal">Close meal</a>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>

<div id="join-meal-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Do you want to join the meal?</p>
      <button class="delete close-modal" aria-label="close" data-target="#join-meal-modal"></button>
    </header>
    <section class="modal-card-body">
      <%= form_for(@meal, method: :post, url: join_meal_path, html: { class: 'join-meal--form' } ) do |f| %>
        <div class="field">
          <label class="label">Private key</label>
          <div class="control">
            <input class="input" type="text">
          </div>
        </div>
      <% end %>
    </section>
    <footer class="modal-card-foot">
      <button type="submit" class="button is-success js-form-join-meal">Yes</button>
      <button class="button close-modal" data-target="#join-meal-modal">Cancel</button>
    </footer>
  </div>
</div>

<script type="text/javascript">
  $('.toggle-modal').on("click", function() {
    $($(this).data("target")).addClass('is-active');
  });

  $('.close-modal').on("click", function() {
    $($(this).data("target")).removeClass('is-active');
  });


</script>

