<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sign up
      </h1>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <%= f.email_field :email, autofocus: true, class: "input", placeholder: "Email" %>
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>


          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: "Password" %>
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "input", placeholder: "Password Confirmation" %>
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control">
              <%= f.submit "Sign up", class: "button is-primary" %>
            </p>
          </div>

        <% end %>

        <%= render "users/shared/links" %>

      </div>
    </div>
  </div>
</section>